@model divar.DAL.Models.Expert
@{
  ViewData["Title"] = " داشبورد کارشناس ";
}



<div class="row">
  </br></br>
  <div class="col s12 m6 offset-m3">
    <div class="card gray-color">
      <div class="card-content black-text">
        <span class="card-title center"> @Model.FullName </span>

        <div class="row">
          @foreach (var item in Model.Reservations)
          {
            <div class="col">
              <div class="card gray-color">
                <div class="card-content black-text">
                    <span class="card-title center"> @item.BookTime.ToPersianDateTextify()    </span>
                     
                    <p>@item.PostTitle</p>
                    <p>@item.FullName</p>
                    <p>@item.ExpertOption</p>
                    <p>@item.ReviewStatus</p>
                </div>
              </div>
            </div>
          }
        </div>

      </div>

    </div>
  </div>
</div>
