@model divar.DAL.Models.Expert
@{
  ViewData["Title"] = " داشبورد کارشناس ";
}



<div class="row">
  </br></br>
  <div class="col s12 m6 offset-m3">
    <div class="card gray-color">
      <div class="card-content black-text">
        <span class="card-title center">مهندس @Model.FullName    </span>

      </div>

    </div>
  </div>
</div>

 <div class="row">
          @foreach (var item in Model.Reservations)
          {
            <div class="col">
              <div class="card gray-color">
                <div class="card-content black-text">
                    <span class="card-title center"> @item.PostTitle    </span>
                      <br/>
                    <p>تاریخ درخواست بازدید : @item.BookTime.ToPersianDateTextify()  </p>
                    <br/>
                    <p>نام درخواست دهنده : @item.FullName</p>
                     <br/>
                    <p> نوع سفارش : @item.ExpertOption</p>
                     <br/>
                    <p> وضعیت سفارش : @item.ReviewStatus</p>
                     <br/>
                </div>
              </div>
            </div>
          }
        </div>
